%nav.top-bar
  %ul.title-area
    %li.name
    %li.toggle-topbar.menu-icon 
      %a(href="#")
        %span
  %section.top-bar-section
    %ul.left
      %li.divider
      %li
        %a(href="#") Projects
      %li.divider
      %li
        %a(href="#") About
      %li.divider
      %li
        %a(href="#") Resume
      %li.divider
      %li
        %a(href="#") Contact
      %li#language-link
        %a(href="#language-bar") Technologies &#x25BC;