= content_for(:title) { @project.name }

%header
  %h1 
    = @project.name
  
%section
  %div.row
    %div.small-12.large-8.columns
      %article
        = @project.description
    %div.small-12.large-4.columns
      = render "technologies/technology_list", technologies: @technologies, title: "Also Used:"
 