= content_for(:title) { "Edit About" }

%section
  %header
    %h1 Edit "About Me"

  %section
    = form_for [:admin, @about] do |f|
      %div.row
        %div.large-8.large-centered.small-10.small-centered.columns
          = f.text_area :info, { class: "long" }
          %aside.instruction
            This field accepts Markdown formatted text
      %div.row
        %div.large-6.large-centered.small-6.small-centered.columns
          = f.submit
